.git
.gitignore
.github
.idea
.vscode
.fleet
node_modules
vendor
public/build
public/hot
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitignore
!storage/framework/.gitignore
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
auth.json
docker-compose.override.yml
